/* General Styles--------------------------- */
body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 0;
    line-height: 1.6;
    background-color: #b7cec1;
   
}

/* Header----------------------------------- */
header {
    background-color: #6b92ac;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* About Section-------------------------------- */
#about {
    background-color: white;
    padding: 50px;
    text-align: center;
}

#about img {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.about-text {
    border: 2px solid #ffffff; 
    padding: 10px; 
    margin: 10px; 
    border-radius: 5px; 
    background-color: #ffffff; 
    font-size: 90%; 
    font-style: italic; 
}

/* Projects Section---------------------------- */
#projects {
    padding: 20px;
 }

#projects article { 
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.container { display: flex; flex-wrap: nowrap; /*overflow-x: auto; /* Allows horizontal scrolling if needed */ 
    gap: 16px; padding: 100px; 
} 

.articlez { border: 1px solid #ccc; 
    border-radius: 15px;   
    padding: 16px; 
    background-color: #ffffff; 
    min-width: 50%; /* Ensure the articles have a minimum width */ 
} 

.articlez h2 { margin-top: 0; } 

.articlez img { width: 95%; /* Ensure the image takes the full width of its container */ 
        height: 10px; /* Set a fixed height for all images */ 
        object-fit: scale-down; /* Ensure the image is not cropped */ 
    }
#projects article img {
    max-width: 500%;
    height: 500%;
}

#projects article h3 {
    margin-top: 1px;
}


/* Contact Section----------------------------- */
#contact {
    background-color: white;
    padding: 20px;
}

.contact-section {
    margin-top: 10px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #555;
}

/* Footer---------------------------------- */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


